<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show patient</title>
</head>
<body>

<!--поле показывающее id для удобной отладки-->
<p th:text="${commentary.getId()}">VALUE</p>

<p th:text="${'Doctor: ' + doctor.getFullName()}">VALUE</p>
<p th:text="${'Score: ' + commentary.getScore()}">VALUE</p>
<p th:text="${'Commentary: ' + commentary.getDescription()}">VALUE</p>

<a th:href="@{/commentaries/{id}/edit(id=${commentary.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/commentaries/{id}(id=${commentary.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>