<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show patient</title>
</head>
<body>
<!--поле показывающее id для удобной отладки-->

<p th:text="${patient.getId()}">VALUE</p>

<p th:text="${'Patient: ' + patient.getFullName()}">VALUE</p>
<p th:text="${'Patient age: ' + patient.getAge()}">VALUE</p>
<p th:text="${'Policy number: ' + patient.getPolicyNumber()}">VALUE</p>
<p th:text="${'Phone number: ' + patient.getPhoneNumber()}">VALUE</p>

<a th:href="@{/patients/{id}/edit(id=${patient.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/patients/{id}(id=${patient.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>