<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit request</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/requests/{id}(id=${request.getId()})}" th:object="${request}">
    <label for="patient" th:text="'Patient: ' + ${request.getPatient().getFullName()}">value</label>
    <input type="hidden" th:field="*{patient}" id="patient" th:value="${request.getPatient().getPatientId()}"/>
    <br/>
    <label for="doctor" th:text="'Doctor: ' + ${request.getDoctor().getFullName()}
        + ', ' + ${request.getDoctor().getSpecialty().getName()}">value</label>
    <input type="hidden" th:field="*{doctor}" id="doctor" th:value="${request.getDoctor().getId()}"/>
    <br/>
    <label for="desiredDate">Enter desired date: </label>
    <input type="date" th:field="*{desiredDate}" id="desiredDate"/>
    <div style="color:red" th:if="${#fields.hasErrors('desiredDate')}" th:errors="*{desiredDate}">Desired Date Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>